p.TextoTienda {
  color: grey;
  font: 30px; }

h2.TituloQuienesSomos {
  color: grey; }

h1.TituloPresentacion {
  color: grey; }

.seccion__imagen {
  height: 280px;
  width: 370px; }

.header__logo {
  height: 200px;
  width: 250px; }

.contacto__botonEnviar--color {
  background-color: violet; }

.sponsor__imagen {
  height: 350px;
  width: 320px;
  border: solid green 4px; }

.div__carrusel {
  display: grid;
  height: 400px;
  width: 800px;
  margin: 30px 50px 10px 40px; }

.carrusel__imagen {
  height: 480px;
  width: 800px; }

.a--Facebook {
  background-color: #717afc; }

.a--Instagram {
  background-color: pink; }
