p.TextoTienda {
  color: grey;
  font: 30px; }

h2.TituloQuienesSomos {
  color: grey; }

h1.TituloPresentacion {
  color: grey; }

.seccion__imagen {
  height: 280px;
  width: 370px; }

.header__logo {
  height: 280px;
  width: 320px; }

.contacto__botonEnviar--color {
  background-color: violet; }

.sponsor__imagen {
  height: 350px;
  width: 320px;
  border: solid green 4px; }

.sponsor__presentacion {
  color: grey; }

.sponsor__cardTexto {
  color: grey; }

.a--Facebook {
  background-color: #717afc; }

.a--Instagram {
  background-color: pink; }
